<div class="overlay" (click)="control.taskDetailsDialogOpen = false">
    <div class="task-details" (click)="control.dontCloseByClick($event)">
        <div class="task-inner">
            <div class="category">
                <span class="category-inner" [style.backgroundColor]="control.currentTask.category.color">
                    {{control.currentTask.category.name}}
                </span>
            </div>
            <span class="task-title">{{control.currentTask.title}}</span>
            <p class="description">{{control.currentTask.description}}</p>
            <p class="duedate">
                <span class="text">Due date:</span>
                <span class="output">{{dueDateOutput}}</span>
            </p>
            <div class="priority">
                <span class="text">Priority:</span>
                <div class="prio {{control.currentTask.prio}}-color">
                    <span>{{control.currentTask.prio | titlecase}}</span>
                    <img src="assets/img/icons/{{control.getPrioImage(control.currentTask.prio)}}-white.png">
                </div>
            </div>
            <p class="text">Assigned To:</p>
            <div class="assigned-area">
                <div *ngFor="let contact of control.currentTask.assignedTo" class="contact">
                    <div class="initials" [style.backgroundColor]="contact.color">{{contact.initials}}</div>
                   <span class="output">{{contact.firstName}} {{contact.lastName}}</span>
                </div>
            </div>
            <img src="assets/img/icons/close-icon.png" (click)="control.taskDetailsDialogOpen = false" class="close">
            <img src="assets/img/icons/edit-contact-icon-mobile.png" class="edit">
        </div>
    </div>

</div>