<div class="site">
    <img class="logo" src="/assets/img/logo-dark.png">
    <div class="signup-container">
        <a routerLink="/login"><img class="btn-back" src="/assets/img/icons/back-icon.png"></a>
        <h1>
            <span>Sign up</span>
            <span class="underline"></span>
        </h1>
        <form>
            <div class="input-field">
                <div class="field">
                    <input name="email" type="text" placeholder="Name">
                </div>
                <div class="icon">
                    <img src="/assets/img/icons/input-name.png">
                </div>
            </div>
            <div class="input-field">
                <div class="field">
                    <input name="email" type="text" placeholder="Email">
                </div>
                <div class="icon">
                    <img src="/assets/img/icons/input-email.png">
                </div>
            </div>
            <div class="input-field">
                <div class="field">
                    <input name="email" type="text" placeholder="Password">
                </div>
                <div class="icon">
                    <img src="/assets/img/icons/input-password.png">
                </div>
            </div>
            <div class="btn-container">
                <button class="primary-btn">Sign up</button>
            </div>
        </form>
    </div>

</div>