a, a:visited, a:active, a:hover {
    text-decoration: none;
    color: #29ABE2;
}

h2 {
    font-size: 27px;
    font-weight: 700;
}

.content-body {
    display: flex;
    flex-direction: column;
    font-size: 21px;
    gap: 32px;
}