<div class="content">
    <div class="content-inner">
        <div class="content-header">
            <div class="content-header-mobile">Kanban Project Management Tool</div>
            <h1 class="title">Impressum</h1>
            <img src="assets/img/icons/arrow-big-icon.png" class="arrow" (click)="control.goBack()">
        </div>
        <div class="content-body">
            <h2>Angaben gemäß § 5 TMG</h2>
            <p>
                Andreas Bandusch<br>
                Eskenshof 7<br>
                45277 Essen
            </p>
            <h2>Kontakt</h2>
            <p>
                Telefon: +49 (0) 176 952 807 56<br>
                E-Mail: bandusch@web.de
            </p>
            <p>Quelle: <a href="https://www.e-recht24.de/">e-recht24.de</a></p>
        </div>
    </div>
</div>