.left {
    margin-left: 116px;
}

.right {
   display: flex;
   align-items: center;
   margin-right: 32px;
}

.question-mark {
    height: 31px;
    width: 31px;
    margin-right: 16px;
}

.profile-picture {
    height: 49px;
    width: 49px;
}