.left {
    margin-left: 116px;
}

.logo-header {
    display: none;
    width: auto;
    height: 50px;
}

.right {
   display: flex;
   align-items: center;
   margin-right: 280px;
}

.question-mark {
    height: 31px;
    width: 31px;
    margin-right: 32px;
}

.profile-picture {
    height: 49px;
    width: 49px;
}

@media (max-width: 1300px) {
    .left {
        margin-left: 48px;
    }
    .right {
        margin-right: 264px;
    }
}

@media (max-width: 920px) {
    .title {
        display: none;
    }

    .logo-header {
        display: flex;
    }

    .left {
        margin-left: 68px;
    }

    .right {
        margin-right: 68px;
    }
}

@media (max-width: 750px) {
    .left {
        margin-left: 32px;
    }

    .right {
        margin-right: 32px;
    }
}

@media (max-width: 470px) {
    .left {
        margin-left: 16px;
    }

    .right {
        margin-right: 16px;
    }

    .question-mark {
        margin-right: 16px;
    }
}