<div class="content">
    <div class="content-inner">
        <div class="content-header">
            <div class="content-header-mobile">Kanban Project Management Tool</div>
            <h1 class="title">Add Task</h1>
        </div>
        <form class="content-body">
            <div class="content-left">
                <div class="field-group">
                    <span>Title</span>
                    <div class="input-field">
                        <div class="field">
                            <input name="title" type="text" placeholder="Enter a title" [(ngModel)]="task.title">
                        </div>
                    </div>
                </div>
                <div class="field-group">
                    <span>Description</span>
                    <textarea name="description" [(ngModel)]="task.description" (keyup)="inputView()"
                        placeholder="Enter a Description"></textarea>
                </div>
                <div class="field-group">
                    <span>Category</span>
                    <ng-container *ngIf="!showNewCategory; else elseBlock">
                        <div class="dropdown">
                            <div class="select-menu">
                                <div class="cat-header">
                                    <span>{{task.catText}}</span>
                                    <div class="cat-color" [style.backgroundColor]="task.catColor"></div>
                                </div>
                                <div class="icon" (click)="task.showCategorys = !task.showCategorys"><img class="arrow"
                                        src="assets/img/icons/menu-arrow-down.png"></div>
                            </div>
                            <div class="select-catagory">
                                <ng-container *ngIf="task.showCategorys">
                                    <span *ngIf="allCategorys" class="item" (click)="createCategory()">New
                                        category</span>
                                    <ng-container *ngFor="let cat of allCategorys">
                                        <div class="item" (click)="selectCategory(cat.name, cat.color, cat.id)">
                                            <span>{{cat.name}}</span>
                                            <div class="cat-color" [style.backgroundColor]="cat.color"></div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </ng-container>
                    <ng-template #elseBlock>
                        <div class="new-category">
                            <div class="input-field">
                                <div class="field">
                                    <input name="categoryname" type="text" [(ngModel)]="categoryName"
                                        (keyup)="inputView()" placeholder="New category name">
                                </div>
                                <div class="icon">
                                    <div class="left-icon" (click)="cancel()">
                                        <img src="assets/img/icons/cancel-icon-black.png">
                                    </div>
                                    <div class="right-icon" (click)="saveCategory()">
                                        <img src="assets/img/icons/check-icon-black.png">
                                    </div>
                                </div>
                            </div>

                            <div class="color-cont">
                                <div *ngFor="let color of catColors" class="color" [style.backgroundColor]="color"
                                    [class.color-active]="task.catColor == color" (click)="task.catColor = color">
                                </div>
                            </div>
                        </div>
                    </ng-template>

                </div>
                <div class="field-group">
                    <span>Assigned to</span>
                    <div class="dropdown">
                        <div class="select-menu">
                            <div class="cat-header">
                                <span>{{assignedTotext}}</span>
                            </div>
                            <div class="icon" (click)="task.showAssignedTo = !task.showAssignedTo"><img class="arrow"
                                    src="assets/img/icons/menu-arrow-down.png"></div>
                        </div>
                        <ng-container *ngIf="task.showAssignedTo">
                            <div *ngFor="let contact of allContacts" class="select-contacts">
                                <div class="contact">
                                    <label class="contact" for="{{contact.id}}">{{contact.firstName}}
                                        {{contact.lastName}}
                                        <input type="checkbox" id="{{contact.id}}" name="{{contact.id}}"
                                            value="{{contact.firstName}} {{contact.lastName}}"
                                            [(ngModel)]="task.selectedContacts[contact.id]"
                                            (ngModelChange)="updateSelectedContacts()">
                                    </label>
                                </div>
                            </div>
                            <div>
                                 <div class="item new-contact" (click)="addContact()">
                                    <span>Add new Contact</span>
                                    <img src="assets/img/icons/add-new-contact-icon.png">
                                </div>
                            </div>
                        </ng-container>

                    </div>

                </div>

            </div>

            <div class="content-right">

                <div class="field-group">
                    <span>Due Date</span>
                    <div class="input-field">
                        <div class="field">
                            <input name="date" type="date" [(ngModel)]="task.dueDate" (ngModelChange)="getTimestamp()">
                        </div>
                    </div>
                </div>

                <div class="field-group">
                    <span>Prio</span>
                    <div class="prio-cont">
                        <div class="prio urgent" [class.urgent-color]="task.activePrio === 'urgent'"
                            (click)="task.activePrio = 'urgent'">
                            Urgent
                            <img *ngIf="task.activePrio !== 'urgent'" src="assets/img/icons/add-task-urgent.png">
                            <img *ngIf="task.activePrio === 'urgent'" src="assets/img/icons/add-task-urgent-white.png">
                        </div>
                        <div class="prio medium" [class.medium-color]="task.activePrio === 'medium'"
                            (click)="task.activePrio = 'medium'">
                            Medium
                            <img *ngIf="task.activePrio !== 'medium'" src="assets/img/icons/add-task-medium.png">
                            <img *ngIf="task.activePrio === 'medium'" src="assets/img/icons/add-task-medium-white.png">
                        </div>
                        <div class="prio low" [class.low-color]="task.activePrio === 'low'" (click)="task.activePrio = 'low'">
                            Low
                            <img *ngIf="task.activePrio !== 'low'" src="assets/img/icons/add-task-low.png">
                            <img *ngIf="task.activePrio === 'low'" src="assets/img/icons/add-task-low-white.png">
                        </div>
                    </div>
                </div>
                <div class="field-group">
                    <span>Subtasks</span>
                    <div class="input-field">
                        <div class="field">
                            <input #addSubtask name="subtask" type="text" placeholder="Add new subtask"
                                [(ngModel)]="currentSubtask">
                        </div>
                        <div class="icon">
                            <img *ngIf="!currentSubtask && !task.showSubtask" src="assets/img/icons/add-subtask-icon.png"
                                class="add-subtask" (click)="setFocus()">
                            <ng-container *ngIf="currentSubtask || task.showSubtask">
                                <div class="left-icon">
                                    <img src="assets/img/icons/cancel-icon-black.png"
                                        (click)="currentSubtask = ''; task.showSubtask = false">
                                </div>
                                <div class="right-icon">
                                    <img src="assets/img/icons/check-icon-black.png" (click)="createSubtask()">
                                </div>
                            </ng-container>

                        </div>
                    </div>

                    <div *ngIf="task.allSubtasks.length > 0" class="subtasks-area">
                        <div *ngFor="let subtask of task.allSubtasks; index as i;">
                            <label for="subtask-{{+ i}}" class="subtask">
                                <input type="checkbox" id="subtask-{{+ i}}" name="{{subtask.name}}"
                                    [(ngModel)]="task.selectedSubtasks[subtask.name]"
                                    (ngModelChange)="updateAssignedSubtasks()">
                                <span>{{subtask.name}}</span>
                            </label>
                        </div>
                    </div>

                </div>
                <div *ngIf="!control.showAddTaskBotton" class="btn-cont">
                    <button class="secondary-btn" (click)="task.showCategorys = false; showNewCategory = false"
                        (click)="task.resetForm()">
                        Clear <span>x</span>
                    </button>
                    <button type="submit" class="primary-btn" (click)="task.createTask()">
                        Create Task
                        <img src="assets/img/icons/checked-icon.png">
                    </button>
                </div>
            </div>
        </form>

    </div>

</div>