<div class="content">
    <div class="content-inner">
        <div class="content-header">
            <div class="content-header-mobile">Kanban Project Management Tool</div>
            <h1 class="title">Add Task</h1>
        </div>
        <form class="content-body">
            <div class="content-left">
                <div class="field-group">
                    <span>Title</span>
                    <input name="title" type="text" placeholder="Enter a title" [(ngModel)]="title">
                </div>
                <div class="field-group">
                    <span>Description</span>
                    <textarea name="description" [(ngModel)]="description" (keyup)="inputView()"></textarea>
                </div>
                <div class="field-group">
                    <span>Category</span>
                    <div class="dropdown">
                        <ng-container *ngIf="!newCategory; else elseBlock">
                            <div class="select-menu">
                                <div class="cat-header">
                                    <span>{{catText}}</span>
                                    <div class="cat-color" [style.backgroundColor]="catColor"></div>
                                </div>
                                <div class="icon" (click)="toggleCategorys()"><img class="arrow"
                                        src="assets/img/icons/menu-arrow-down.png"></div>
                            </div>
                            <div class="select-catagory">
                                <ng-container *ngIf="showCategorys">
                                    <span *ngIf="allCategorys" class="cat" (click)="createCategory()">New category</span>
                                    <ng-container *ngFor="let cat of allCategorys">
                                        <div class="cat" (click)="selectCategory(cat.name, cat.color)">
                                            <span>{{cat.name}}</span>
                                            <div class="cat-color" [style.backgroundColor]="cat.color"></div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </ng-container>
                        <ng-template #elseBlock>Create new category</ng-template>

                    </div>
                </div>
                <div class="field-group">
                    <span>Assigned to</span>
                    <div class="dropdown">Select contacts to assign
                    </div>
                </div>
            </div>

            <div class="content-right">
                <div class="field-group">
                    <span>Due date</span>
                    <input type="date">
                </div>
                <div class="field-group">
                    <span>Prio</span>
                    <div class="prio-cont">
                        <div class="prio urgent">
                            Urgent
                            <img src="assets/img/icons/add-task-urgent.png">
                        </div>
                        <div class="prio medium">
                            Medium
                            <img src="assets/img/icons/add-task-medium.png">
                        </div>
                        <div class="prio low">
                            Low
                            <img src="assets/img/icons/add-task-low.png">
                        </div>
                    </div>
                </div>
                <div class="field-group">
                    <span>Subtasks</span>
                    <input type="text">
                </div>
                <div *ngIf="!control.showAddTaskBotton" class="btn-cont">
                    <button class="secondary-btn">
                        Clear <span>x</span>
                    </button>
                    <button type="submit" type="submit" class="primary-btn">
                        Create Task
                        <img src="assets/img/icons/checked-icon.png">
                    </button>
                </div>
            </div>
        </form>

    </div>

</div>