.primary-btn,
.secondary-btn {
    height: 60px;
}

.primary-btn {
    width: 182px;
}

.secondary-btn {
    background-color: #F5F5F5;
    width: 136px;
    font-weight: 400;
}

.content-inner {
    height: calc(100% - 138px);

}

.content-body {
    display: flex;
    height: 100%;
}

.content-left,
.content-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 21px;
    gap: 32px;
    height: 100%;
}

.content-left {
    border-right: 1px solid #D1D1D1;
    padding-right: 80px;
}

.content-right {
    position: relative;
    padding-left: 80px;
}

.field-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.prio-cont {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 16px;
    cursor: pointer;
}

.prio {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 10px 18px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 30%;
    transition: all 75ms ease-in-out;

    img {
        margin-left: 16px;
        width: 20px;
    }

    &:hover {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transition: all 75ms ease-in-out;
    }
}

.urgent,
.low {
    img {
        height: 15px;
    }
}

.medium {
    img {
        height: 8px;
    }
}

.btn-cont {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 16px;
    padding-bottom: 16px;
    bottom: 32px;
    right: 0;
    height: 90px;
    gap: 32px;
}



.dropdown {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    min-height: 50px;
    height: auto;
    padding: unset;


    .select-menu {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 13px 21px;

        .icon {
            width: 16px;
            height: 100%;
            margin-left: 16px;
            cursor: pointer;
        }
    }

    .select-catagory {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    

    .item {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 13px 21px;
        transition: all 75ms ease-in-out;
        display: flex;
        width: 100%;


        &:hover {
            background-color: #D1D1D1;
            transition: all 75ms ease-in-out;
        }
    }

    .new-contact {
        width: 100%;
        justify-content: space-between;
        padding-right: 18px;

    }

    .contact {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        transition: all 75ms ease-in-out;


        &:hover {
            background-color: #D1D1D1;
            transition: all 75ms ease-in-out;
        }

        label {
            width: 100%;
            height: 100%;
            padding: 13px 21px;
        }
    }

    

    .cat-color {
        display: flex;
        height: 20px;
        width: 20px;
        border: 2px solid #FFFFFF;
        border-radius: 100%;
        margin-left: 16px;
    }

    .cat-header {
        display: flex;
        align-items: center
    }
    
    
    
}


.new-category {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.left-icon, .right-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.left-icon {
    margin-right: 8px;
    padding-right: 8px;
    border-right: 1px solid #D1D1D1;
}

.color-cont {
    display: flex;
    width: 100%;
    gap: 16px;
    margin-top: 16px;
    padding-left: 16px;
}

.color {
    display: flex;
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 100%;
    cursor: pointer;
}

.color-active {
    transform: scale(1.2);
}

.urgent-color, .medium-color, .low-color {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
}

.urgent-color {
    background-color: #FF3D00 !important;   
}

.medium-color {
    background-color: #FFA800 !important;
}

.low-color {
    background-color: #7AE229 !important;
}

.add-subtask {
    cursor: pointer;
}

.subtasks-area {
    margin-top: 16px;
    font-size: 16px;
}

.subtask {
    display: flex;
    gap: 16px;
    margin-top: 4px;
}



@media (max-width: 1440px) {
    .prio {
        font-size: 18px;
    }

    .content-right {
        padding-left: 32px;
    }

    .content-left {
        padding-right: 32px;
    }
}

@media (max-width: 1300px) {
    .content-right {
        padding-left: 16px;
    }

    .content-left {
        padding-right: 16px;
    }
}

@media (max-width: 1100px) {
    .content-body {
        flex-direction: column;
        gap: 32px;
    }

    .content-left,
    .content-right {
        width: 100%;
    }

    .content-left {
        border-right: unset;
        padding-right: unset;
    }

    .content-right {
        padding-left: unset;
    }
}

@media (max-width: 750px) {
    .content-inner {
        margin-right: 32px;
        margin-left: 32px;
    }
}

@media (max-width: 450px) {
    .content-inner {
        margin-right: 16px;
        margin-left: 16px;
    }
}