<div class="content">
    <div class="content-inner">
        <div class="content-header">
            <div class="content-header-mobile">Kanban Project Management Tool</div>
            <h1 class="title">Add Task</h1>
        </div>
        <form class="content-body">
            <div class="content-left">
                <div class="field-group">
                    <span>Title</span>
                    <input type="text" placeholder="Enter a title">
                </div>
                <div class="field-group">
                    <span>Description</span>
                    <textarea></textarea>
                </div>
                <div class="field-group">
                    <span>Catagory</span>
                    <div class="dropdown">Select task catagory</div>
                </div>
                <div class="field-group">
                    <span>Assigned to</span>
                    <div class="dropdown">Select contacts to assign</div>
                </div>
            </div>

            <div class="content-right">
                <div class="field-group">
                    <span>Due date</span>
                    <input type="date">
                </div>
                <div class="field-group">
                    <span>Prio</span>
                    <div class="prio-cont">
                        <div class="prio urgent">
                            Urgent
                            <img src="assets/img/icons/add-task-urgent.png">
                        </div>
                        <div class="prio medium">
                            Medium
                            <img src="assets/img/icons/add-task-medium.png">
                        </div>
                        <div class="prio low">
                            Low
                            <img src="assets/img/icons/add-task-low.png">
                        </div>
                    </div>
                </div>
                <div class="field-group">
                    <span>Subtasks</span>
                    <input type="text">
                </div>
                <div class="btn-cont">
                    <button class="secondary-btn">
                        Clear <span>x</span>
                    </button>
                    <button type="submit"
                        type="submit" class="primary-btn">
                        Create Task
                        <img src="assets/img/icons/checked-icon.png">
                    </button>
                </div>
            </div>
        </form>
        
    </div>

</div>