.overlay {
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    overflow: hidden;

}

.task-details {
    position: relative;
    z-index: 150;  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 30px;
    width: 625px;
    display: flex;
    align-items: flex-start;
    padding: 48px;
    max-height: 95%;
    overflow-y: auto;
}

.task-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    gap: 32px;
}


.category-inner {
    justify-content: center;
    align-items: flex-start;
    min-width: 103px;
    border-radius: 8px;
    color: #fff;
    font-size: 27px;
    padding: 4px 37px;
}

.task-title {
    font-size: 61px;
    font-weight: 700;
}

.description {
    font-size: 21px;
}

.text {
    font-size: 21px;
    font-weight: 700;
    margin-right: 32px;
    align-items: center;
}

.output {
    font-size: 21px;
}


.priority {
    display: flex;
    align-items: center;
}

.prio {
    display: flex;
    padding: 4px 18px;
    border-radius: 10px;
    align-items: center;
    color: #fff;
    font-size: 21px;

    img {
        margin-left: 16px;
    }
}

.subtasks-area {
    display: flex;
    align-items: center;
    align-items: flex-start;
    width: 100%;
   
}


.subtasks-cont {
    display: flex;
    flex-direction: column;
    flex: 1;
   
    max-height: 100px;
    overflow-y: auto;
}


.subtask {
    display: flex;
    align-items: center;
    margin-right: 16px;
    
    input {
        margin-right: 8px;
    }
}

.assigned-area {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact {
    display: flex;
    align-items: center;
}

.initials {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 32px;
    height: 45px;
    width: 45px;
    font-size: 16px;
    border-radius: 100%;
    color: #fff;
}

.close {
    position: absolute;
    top: 32px;
    right: 32px;
    cursor: pointer;
}

.edit {
    position: absolute;
    bottom: 32px;
    right: 32px;
    cursor: pointer;
}


@media (max-width: 750px) {
    .overlay {
        padding-left: 32px;
        padding-right: 32px;
    }

    .task-details {
        width: 100%;
    }

}

@media (max-width: 550px) {
    .overlay {
        padding-left: 16px;
        padding-right: 16px;
    }

    .task-details {
        padding: 32px;
    }

    .category-inner {
        font-size: 21px;
    }

    .task-title {
        font-size: 40px;
    }

    .description,
    .text,
    .output,
    .prio>span {
        font-size: 18px;
    }

    .initials {
        margin-right: 16px;
       
    }
}


@media (max-width: 450px) {
    .task-details {
        padding: 32px 16px;
    }

    .close {
        right: 16px;
        top: 16px;
    }

    .edit {
        right: 16px;
        bottom: 16px;
    }

    .initials {
        height: 32px;
        width: 32px;
    }

    .text {
        margin-right: 16px;
    }

    .subtasks-area {
        flex-direction: column;
        margin-top: 32px;
    }

    .subtasks-cont {
        width: 100%;
    }
}





@media (max-width: 350px) {
    .overlay {
        padding-left: 0;
        padding-right: 0;
        
    }

    .task-details {
        border-radius: 0;
        height: 100%;
        max-height: unset;
        background-color: #f5f5f5;
    }

    .category-inner {
        font-size: 18px;
    }

    .task-title {
        font-size: 32px;
    }

    .description,
    .text,
    .output,
    .prio>span {
        font-size: 16px;
    }

    .initials {
        margin-right: 8px;
    }

    .close {
        right: 8px;
        top: 16px;
    }

    .edit {
        right: 8px;
        bottom: 24px;
    }

}