<div class="content">
    <div class="content-inner">

        <div class="contacts">
            <div class="contacts-inner">
                <div class="catagory">
                    <div class="catagory-header">
                        <span class="letter">A</span>
                    </div>
                    <div class="catagory-body">
                        <div class="catagory-body-cont">
                            <div class="contact-initials">
                                AM
                            </div>
                            <div class="contact-infos">
                               <span class="name">Anton Meyer</span>
                               <span class="email">antom@gmail.com</span>
                            </div>
                        </div>

                        <div class="catagory-body-cont">
                            <div class="contact-initials">
                                AM
                            </div>
                            <div class="contact-infos">
                               <span class="name">Anton Meyer</span>
                               <span class="email">antom@gmail.com</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="catagory">
                    <div class="catagory-header">
                        <span class="letter">B</span>
                    </div>
                    <div class="catagory-body">
                        <div class="catagory-body-cont">
                            <div class="contact-initials">
                                AM
                            </div>
                            <div class="contact-infos">
                               <span class="name">Anton Meyer</span>
                               <span class="email">antom@gmail.com</span>
                            </div>
                        </div>

                        <div class="catagory-body-cont">
                            <div class="contact-initials">
                                AM
                            </div>
                            <div class="contact-infos">
                               <span class="name">Anton Meyer</span>
                               <span class="email">antom@gmail.com</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="catagory">
                    <div class="catagory-header">
                        <span class="letter">C</span>
                    </div>
                    <div class="catagory-body">
                        <div class="catagory-body-cont">
                            <div class="contact-initials">
                                AM
                            </div>
                            <div class="contact-infos">
                               <span class="name">Anton Meyer</span>
                               <span class="email">antom@gmail.com</span>
                            </div>
                        </div>

                        <div class="catagory-body-cont">
                            <div class="contact-initials">
                                AM
                            </div>
                            <div class="contact-infos">
                               <span class="name">Anton Meyer</span>
                               <span class="email">antom@gmail.com</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="catagory">
                    <div class="catagory-header">
                        <span class="letter">D</span>
                    </div>
                    <div class="catagory-body">
                        <div class="catagory-body-cont">
                            <div class="contact-initials">
                                AM
                            </div>
                            <div class="contact-infos">
                               <span class="name">Anton Meyer</span>
                               <span class="email">antom@gmail.com</span>
                            </div>
                        </div>

                        <div class="catagory-body-cont">
                            <div class="contact-initials">
                                AM
                            </div>
                            <div class="contact-infos">
                               <span class="name">Anton Meyer</span>
                               <span class="email">antom@gmail.com</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="contact-details">
            <div class="contact-details-inner">
                <div class="content-header">
                    <div class="content-header-mobile">Kanban Project Management Tool</div>
                    <h1 class="title">Contacts</h1>
                    <div class="sub-title">
                        Better with a team
                        <div class="underline"></div>
                    </div>
                </div>
                <div class="details-content">
                    <div class="details-name-cont">
                        <span class="initials">AM</span>
                        <div class="details-name">
                            <span>Anton Meyer</span>
                            <div class="add-task">+ Add Task</div>
                        </div>
                    </div>
                    <div class="details-info">
                        <div class="info-header">
                            <span class="info-header-text">Contact Information</span>
                            <div class="edit-contact">
                                <img src="assets/img/icons/edit-contact-icon.png">
                                <span>Edit Contact</span>
                            </div>
                        </div>

                        <div class="info-body">
                            <div class="info-email-cont">
                                <span class="info-email-header">Email</span>
                                <span class="info-email">antom@gmail.com</span>
                            </div>

                            <div class="info-phone-cont">
                                <span class="info-phone-header">Phone</span>
                                <span class="info-phone">+49 1111 111 11 1</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="primary-btn new-contact-btn">New contact <img src="assets/img/icons/new-contact-icon.png"></button>
    </div>
</div>