<div class="content">
    <div class="btn-cont">
        <button class="primary-btn new-contact-btn">New contact <img
            src="assets/img/icons/new-contact-icon.png"></button>
    </div>
    <div class="content-inner">

        <div class="contacts" [class.d-none]="test">
            <div class="contacts-inner">
                <div *ngFor="let initial of catagoryInitials;" class="catagory">
                    <div class="catagory-header">
                        <span class="letter">{{initial}}</span>
                    </div>
                    <div *ngFor="let contact of fullNames; index as i">
                        <div *ngIf="getFirstLetter(contact) === initial" class="catagory-body">
                            <a routerLink="contact">
                                <div class="catagory-body-cont"(click)="setActive('anton')"
                                    [class.active]="isAntonActive">
                                    <div class="contact-initials" [ngStyle]="{'background-color': colors[i % colors.length]}" >
                                        AM
                                    </div>
                                    <div class="contact-infos">
                                        <span class="name">{{ contact }}</span>
                                        <span class="email">{{ db[i].email }}</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="contact-details" [class.display]="test">
            <div class="contact-details-inner">
                <div class="content-header">
                    <div class="content-header-mobile">Kanban Project Management Tool</div>
                    <h1 class="title">Contacts</h1>
                    <div class="sub-title">
                        Better with a team
                        <div class="underline"></div>
                    </div>
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>