<div class="content">
    <div class="content-inner">

        <div class="contacts">
            <div class="contacts-inner">
                <div class="catagory">
                    <div class="catagory-header">
                        <span class="letter">A</span>
                    </div>
                    <div class="catagory-body">
                        <a routerLink="contact">
                            <div class="catagory-body-cont">
                                <div class="contact-initials">
                                    AM
                                </div>
                                <div class="contact-infos">
                                    <span class="name">Anton Meyer</span>
                                    <span class="email">antom@gmail.com</span>
                                </div>
                            </div>
                        </a>


                        <div class="catagory-body-cont">
                            <div class="contact-initials">
                                AM
                            </div>
                            <div class="contact-infos">
                                <span class="name">Anton Meyer</span>
                                <span class="email">antom@gmail.com</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="catagory">
                    <div class="catagory-header">
                        <span class="letter">B</span>
                    </div>
                    <div class="catagory-body">
                        <div class="catagory-body-cont">
                            <div class="contact-initials">
                                AM
                            </div>
                            <div class="contact-infos">
                                <span class="name">Anton Meyer</span>
                                <span class="email">antom@gmail.com</span>
                            </div>
                        </div>

                        <div class="catagory-body-cont">
                            <div class="contact-initials">
                                AM
                            </div>
                            <div class="contact-infos">
                                <span class="name">Anton Meyer</span>
                                <span class="email">antom@gmail.com</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="catagory">
                    <div class="catagory-header">
                        <span class="letter">C</span>
                    </div>
                    <div class="catagory-body">
                        <div class="catagory-body-cont">
                            <div class="contact-initials">
                                AM
                            </div>
                            <div class="contact-infos">
                                <span class="name">Anton Meyer</span>
                                <span class="email">antom@gmail.com</span>
                            </div>
                        </div>

                        <div class="catagory-body-cont">
                            <div class="contact-initials">
                                AM
                            </div>
                            <div class="contact-infos">
                                <span class="name">Anton Meyer</span>
                                <span class="email">antom@gmail.com</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="catagory">
                    <div class="catagory-header">
                        <span class="letter">D</span>
                    </div>
                    <div class="catagory-body">
                        <div class="catagory-body-cont">
                            <div class="contact-initials">
                                AM
                            </div>
                            <div class="contact-infos">
                                <span class="name">Anton Meyer</span>
                                <span class="email">antom@gmail.com</span>
                            </div>
                        </div>

                        <div class="catagory-body-cont">
                            <div class="contact-initials">
                                AM
                            </div>
                            <div class="contact-infos">
                                <span class="name">Anton Meyer</span>
                                <span class="email">antom@gmail.com</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-details">
            <div class="contact-details-inner">
                <div class="content-header">
                    <div class="content-header-mobile">Kanban Project Management Tool</div>
                    <h1 class="title">Contacts</h1>
                    <div class="sub-title">
                        Better with a team
                        <div class="underline"></div>
                    </div>
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
        <button class="primary-btn new-contact-btn">New contact <img
                src="assets/img/icons/new-contact-icon.png"></button>
    </div>
</div>