a {
    cursor: pointer;
    margin-top: 8px;
}

a:hover {
    background: linear-gradient(180deg, #F9F9F9 0%, #F0F0F0 100%);
    border-radius: 10px;
    transition: all 75 ease-in-out
}

a:active>div {
    background: #2A3647;
    border-radius: 10px;
}

a:focus>div {
    cursor: auto;
}


.title {
    border-right: 3px solid #29ABE2;
}



.content {
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
    background-color: #F5F5F5;
}

.btn-cont {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 48px;
    bottom: 16px;
    right: 0;
    width: 100%;
    height: 90px;


}

.content-inner {
    display: flex;
    height: 100%;
    margin-left: 0;
}

.contacts {
    position: fixed;
    top: 0;
    left: 232;
    width: 450px;
    height: 100%;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
    background: #fff;
    padding-left: 32px;
    padding-right: 32px;
    overflow-y: auto;
}

.contacts-inner {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    gap: 16px
}

.contact-details {
    display: flex;
    flex: 1;
    height: 100%;
    background-color: #F5F5F5;
    margin-left: 498px;
}


.contact-details-inner {
    padding-top: 138px;
}



.new-contact-btn {
    width: 193px;
    padding-right: 8px;
    padding-left: 8px;

    img {
        height: 30px;
        width: 33px;
        margin-left: 12px;
    }
}

.catagory {
    width: 100%;
    padding-top: 16px;
}

.catagory-header {
    margin-bottom: 32px;
}

.catagory-body {
    border-top: 1px solid #D1D1D1;
    display: flex;
}



.letter {
    margin-left: 32px;
    font-size: 21px;
}

.name {
    font-size: 21px;
    color: #000;
}

.email {
    color: #007CEE;
}

.catagory-body {
    display: flex;
    flex-direction: column;
    gap: 8px;
}



.catagory-body-cont {
    display: flex;
    align-items: center;
    padding: 16px;

    transition: all 75 ease-in-out;



}


.contact-initials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 32px;
    height: 42px;
    width: 42px;
    border: 2px solid #fff;
    border-radius: 100%;
    // background-color: #FF7A00;
    color: #fff;
}

.contact-infos {
    display: flex;
    flex-direction: column;
}

.active {
    background: #2A3647;
    border-radius: 10px;
    cursor: auto;

    .name {
        color: #fff;
    }
}


@media (max-width: 1440px) {
    .sub-title {
        font-size: 20px;
    }
}


@media (max-width: 1300px) {

    .contact-details {
        display: none;
    }

    .contacts {
        position: static;
        width: 100%;
        padding-left: 48px;
        padding-right: 48px;
    }

    .content {
        margin-right: 0px;
    }

    .content-inner {
        margin-right: 0;
        width: 100%;
    }
}

@media (max-width: 930px) {
    .contacts {
        padding-left: 68px;
        padding-right: 68px;
    }



    .btn-cont {
        bottom: unset;
        top: 90px;
        background-color: #fff;
        padding-right: 68px;
    }

    .catagory {
        &:first-child {
            margin-top: 90px;
        }
    }
}

@media (max-width: 750px) {
    .contacts {
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media (max-width: 450px) {
    .contacts {
        padding-left: 16px;
        padding-right: 16px;
    }
}