h2 {
    font-size: 27px;
    font-weight: 700;
}



ol {
    list-style: none;
    counter-reset: my-awesome-counter;
    gap: 16px;
    display: flex;
    flex-direction: column;

    li {
        counter-increment: my-awesome-counter;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        
    

        &::before  {
            content: counter(my-awesome-counter) ". ";
            font-size: 27px;
            font-weight: 700;
            margin-right: 32px;
          }
  }

}
  
  

.content-body {
    display: flex;
    flex-direction: column;
    font-size: 21px;
    gap: 48px;
}

.description-cont, .howto-cont {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.howto-cont {
    h2 {
        margin-bottom: 32px;
    }
}


