<div class="content-header">
    <h1 class="title">Summary</h1>
    <div class="sub-title">Everything in a nutshell!</div>
</div>
<div class="content-header-mobile">Kanban Project Management Tool</div>
<div class="content">
    <div class="overview">
        <div class="row">
            <div class="sum-cont">
                <span class="sum-number">5</span>
                <span class="sum-name">Tasks in <br> Board</span>
            </div>
            <div class="sum-cont">
                <span class="sum-number">2</span>
                <span class="sum-name">Tasks in <br> Progress</span>
            </div>
            <div class="sum-cont">
                <span class="sum-number">2</span>
                <span class="sum-name">Awaiting <br> Feedback</span>
            </div>
        </div>
    </div>
    <div class="welcome">
        <span class="greetings">Good morning,</span>
        <span class="greetings-name">Sofia Müller</span>
    </div>
</div>