<div class="content-header">
    <h1 class="title">Summary</h1>
    <div class="sub-title">Everything in a nutshell!</div>
</div>
<div class="content-header-mobile">Kanban Project Management Tool</div>
<div class="content">
    <div class="overview">
        <div class="row">
            <div class="cont sum-cont">
                <span class="sum-number">5</span>
                <span class="sum-name">Tasks in <br> Board</span>
            </div>
            <div class="cont sum-cont">
                <span class="sum-number">2</span>
                <span class="sum-name">Tasks in <br> Progress</span>
            </div>
            <div class="cont sum-cont">
                <span class="sum-number">2</span>
                <span class="sum-name">Awaiting <br> Feedback</span>
            </div>
        </div>
        <div class="row">
            <div class="cont urgent-cont">
                <div class="urgent">
                    <img src="assets/img/icons/urgent-high-icon.png">
                    <div class="urgent-inner">
                        <span class="urgent-number">1</span>
                        <span class="urgent-text">Urgent</span>
                    </div>
                </div>
                <div class="deadline">
                    <span class="date">October 16, 2022</span>
                    <span class="deadline-text">Upcomming Deadline</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="cont todo-cont">
                <img src="assets/img/icons/edit-icon.png">
                <div class="todo-inner">
                    <span class="todo-number">1</span>
                    <span class="todo-text">Urgent</span>
                </div>
            </div>
            <div class="cont todo-cont">
                <img src="assets/img/icons/done-icon.png">
                <div class="todo-inner">
                    <span class="todo-number">1</span>
                    <span class="todo-text">Urgent</span>
                </div>
            </div>
        </div>
    </div>
    <div class="welcome">
        <span class="greetings">Good morning,</span>
        <span class="greetings-name">Sofia Müller</span>
    </div>
</div>