


.site {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
}

.logo {
    position: absolute;
    top: 80px;
    left: 80px;
    width: 100px;
    height: 122px;
}

.sign-up-container {
    position: absolute;
    top: 80px;
    right: 80px;

    .primary-btn {
        height: unset;
        width: unset;
        font-size: 16px;
        margin-left: 32px;
        height: 50px;
    }

    span {
        font-size: 21px;
        font-weight: 400;
    }
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 625px;
    padding-left: 115px;
    padding-right: 115px;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-top: 130px;
    margin-bottom: 100px;
    gap: 32px;
    background-color: #fff;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}


h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    gap: 16px;
}

.underline {
    border-top: 3px solid #29ABE2;
    width: 80%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;

}

input {
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 13px 21px;
    outline: none;
    background-repeat: no-repeat;
    background-position: right 16px top 50%;
    
}

    img {
        height: 21px;
        width: 18px;
    }


// .forgot-pw {
//     color: #29ABE2;
// }

.rem-container {
    display: flex;
    justify-content: space-evenly;
}



input[type="checkbox"],
input[type="checkbox"]:active {
    margin-right: 16px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    background-color: black;
}

.btn-container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 32px;
}

.primary-btn, .secondary-btn {
    width: 160px;
}

.email {
    background-image: url('/assets/img/icons/input-email.png');
}

.password {
    background-image: url('/assets/img/icons/input-password.png');
}

@media (max-width: 1000px) {
    .logo {
        top: 32px;
        left: 32px;
    }

    .sign-up-container {
        top: 32px;
        right: 32px;
    }
}

@media (max-width: 750px) {
    .logo {
        top: 32px;
        left: 32px;
        height: 80px;
        width: auto;
    }

    .sign-up-container {
        top: unset;
        bottom: 48px;
        right: auto;
        left: auto;
        margin: 0 16px;
    }

    .site {
        padding: 0 32px;
    }

    .sign-up-container {
        bottom: 32px
    }

    .login-container {
        width: 100%;
        padding-left: 32px;
        padding-right: 32px;
    }  
}

@media (max-width: 500px) {
    .site {
        padding: 0 16px;
    }

    

    .rem-container {
        flex-direction: column;
        justify-content: space-evenly;
        gap: 32px;
    }

    

    .btn-container {
        flex-direction: column;
        align-items: center;
    }

    .sign-up-container {
        bottom: 16px
    }

    .primary-btn, .secondary-btn {
        font-size: 16px;
        width: 180px;
    }

    h1 {
        font-size: 48px;
    }


}