<div class="site">
    <img class="logo" src="/assets/img/logo-dark.png">
    <div class="sign-up-container">
        <span>Not a Join user?</span>
        <a routerLink="/sign-up"><button class="primary-btn">Sign up</button></a>
    </div>
    <div class="login-container">
        <h1>
            <span>Log in</span>
            <span class="underline"></span>
        </h1>
        <form (submit)="userLogin()">
            <div class="field-group">
                <div class="input-field">
                    <div class="field">
                        <input name="email" type="text" placeholder="Email" [(ngModel)]="email">
                    </div>
                    <div class="icon">
                        <img src="/assets/img/icons/input-email.png">
                    </div>
                </div>
                <p *ngIf="noUserFound" class="error">User does not exist.</p>
            </div>
            <div class="field-group">
                <div class="input-field">
                    <div class="field">
                        <input name="password" type="password" placeholder="Password" [(ngModel)]="password">
                    </div>
                    <div class="icon">
                        <img src="/assets/img/icons/input-password.png">
                    </div>
                </div>
                <p *ngIf="wrongPassword" class="error">Password is wrong!</p>
            </div>
            <div class="rem-container">
                <div class="remember-me">
                    <input type="checkbox">
                    <span>Remember me</span>
                </div>
                <span class="forgot-pw"><a href="#">Forgot my password</a></span>
            </div>
            <div class="btn-container">
                <button class="primary-btn" type="submit">Log in</button>
                <button type="button" class="secondary-btn" (click)="guestLogin()">Guest log in</button>
            </div>
        </form>
    </div>

</div>