.add-contact {
    position: absolute;
    z-index: 99;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.10);
}
.add-contact-cont {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 30px;
    min-height: 600px;
    width: 1200px;
}