h1 {
    color: #fff;
    text-align: left;
}

input {
    width: 100%;

    &.ng-touched, &.ng-dirty {

        // &.ng-invalid {
        //     border-color: green;
        // }

        &.ng-invalid {
            border: 2px solid #2A3647;
        
        }
    }
}

.primary-btn {
    width: 215px;

    img {
        height: 24px;
        width: 24px;
        margin-left: 8px;
    }
}

.secondary-btn {
    img {
        height: 24px;
        width: 24px;
        margin-left: 8px;
    }
}



.text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.subtext {
    font-size: 27px;
    color: #fff;
}

.underline {
    border-bottom: 3px solid #29ABE2;
    width: 30%;
    padding-bottom: 8px;
}

.add-contact {
    position: absolute;
    z-index: 99;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

.add-contact-cont {
    position: relative;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 30px;
    height: 600px;
    width: 1200px;
    display: flex;
    justify-self: center;
    align-items: center;

}

.add-contact-inner {
    display: flex;
    height: 100%;
    width: 100%;
}

.title-cont {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-color: #2A3647;
    padding: 46px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    gap: 16px;
}

.add-contact-picture {
    position: absolute;
    right: -190px;
    top: calc(50% - 120px);
    height: 120px;
    width: 120px;
}

.content-cont {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    height: 100%;
    padding: 46px;
}



.logo {
    img {
        height: 66px;
        width: 55px;
    }
}

.form-cont {
    display: flex;
    flex-direction: column;
    width: 422px;
    gap: 48px;
}

.close-dialog,
.close-dialog-mobile {
    position: absolute;
    top: 32px;
    right: 32px;
    height: 32px;
    width: 32px;
    cursor: pointer;
}

.close-dialog-mobile {
    display: none;
}

.button-cont {
    display: flex;
    justify-content: flex-start;
    margin-top: 16px;
    width: 100%;
    gap: 32px;
}

.error {
    color: red;

    position: absolute;
    top: 64px;
    right: 500px;
}

@media (max-width: 1300px) {

    .add-contact {
        padding-left: 48px;
        padding-right: 48px;
    }

    .add-contact-cont {
        width: 100%;
    }

    .add-contact-picture {
        right: -150px;
        top: calc(50% - 100px);
    }
}

@media (max-width: 1200px) {
    h1 {
        font-size: 48px;
    }

    .subtext {
        font-size: 21px;
    }

    .add-contact-picture {
        height: 90px;
        width: 90px;
        right: -110px
    }
}

@media (max-width: 1100px) {

    h1 {
        font-size: 40px;
    }

    .subtext {
        font-size: 18px;
    }

    .add-contact-picture {
        height: 90px;
        width: 90px;
        right: -100px
    }

    title.cont,
    .content-cont {
        padding: 32px;
    }

    .form-cont {
        width: 80%;
    }

    .add-contact-cont {
        height: 550px;
    }

}

@media (max-width: 1000px) {

    .primary-btn,
    .secondary-btn {
        font-size: 16px;
    }
}

@media (max-width: 920px) {
    h1 {
        font-size: 61px;
    }

    .subtext {
        font-size: 27px;
    }

    .add-contact-cont {
        height: 90%;
        width: 100%;
    }

    .add-contact-inner {
        flex-direction: column;
    }

    .title-cont {
        border-bottom-left-radius: unset;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        height: 45%;
    }

    .content-cont {
        justify-content: center;
        padding: 48px 32px;
    }

    .add-contact-picture {
        right: calc(50% - 60px);
        top: calc(100% - 80px);
        height: 120px;
        width: 120px;
    }

    .logo {
        display: none;
    }

    .underline {
        width: 20%;
    }

    .button-cont {
        justify-content: center;
    }

    .primary-btn,
    .secondary-btn {
        font-size: 21px;
    }

    .close-dialog-mobile {
        display: block;
    }

    .close-dialog {
        display: none;
    }
}

@media (max-width: 750px) {
    .add-contact {
        padding-left: 32px;
        padding-right: 32px;
    }

    .form-cont {
        width: 80%;
    }
}

@media (max-width: 630px) {
    .secondary-btn {
        display: none;
    }

    .form-cont {
        width: 100%;
    }
}

@media (max-width: 550px) {
    .add-contact {
        padding-left: 16px;
        padding-right: 16px;
    }

    .add-contact-cont {
        height: 95%;
    }

    h1 {
        font-size: 48px;
    }

    .subtext {
        font-size: 21px;
    }
}

@media (max-width: 450px) {
    h1 {
        font-size: 40px;
    }

    .subtext {
        font-size: 18px;
    }

    .add-contact {
        padding-left: 0;
        padding-right: 0;
    }

    .add-contact-cont {
        height: 100%;
        border-radius: 0;
    }

    .add-contact-picture {
        height: 100px;
        width: 100px;
        right: calc(50% - 50px);
        top: calc(100% - 70px);
    }

    .title-cont {
        padding: 32px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .form-cont {
        gap: 32px;
    }

    .close-dialog-mobile {
        top: 16px;
        right: 16px;
    }
}

@media (max-width: 350px) {
    h1 {
        font-size: 38px;
    }

    .title-cont {
        padding: 16px;
    }

    .subtext {
        font-size: 18px;
    }

    .content-cont {
        padding: 16px;
    }

    .form-cont {
        gap: 24px;
    }
}