<div class="add-contact" (click)="openDialog.addContactDialogOpen = false">
    <div class="add-contact-cont" (click)="dontCloseByClick($event)">
        <div class="add-contact-inner">
                <div class="title-cont">
                    <div class="logo">
                        <img src="assets/img/logo.png">
                    </div>
                    <div class="text">
                        <h1>Add contact</h1>
                        <div class="subtext">
                            Tasks are better with a team!
                            <div class="underline"></div>
                        </div>
                    </div>
                    <img src="assets/img/profile-picture-add-contact.png" class="add-contact-picture">
                </div>

                <div  class="content-cont">
                    <div class="form-cont">
                        <input type="text" class="input-name" placeholder="Name">
                        <input type="email" class="input-email" placeholder="Email">
                        <input type="text" class="input-phone" placeholder="Phone">

                        <div class="button-cont">
                            <button class="secondary-btn" (click)="openDialog.addContactDialogOpen = false">
                                Cancel
                                <img src="assets/img/icons/cancel-icon.png">
                            </button>
                            <button class="primary-btn">
                                Create Contact
                                <img src="assets/img/icons/checked-icon.png">
                            </button>
                        </div>
                    </div>
                </div>
        </div>
        <img src="assets/img/icons/close-icon.png" class="close-dialog" (click)="openDialog.addContactDialogOpen = false">
    </div>
</div>
