<div class="add-contact" [class.slide-out]="animationStatus" [class.fade-out]="animationStatus" [class.fade-in]="!animationStatus" (click)="closeDialog()">
    <div class="add-contact-cont" (click)="control.dontCloseByClick($event)" [class.slide-out]="animationStatus" [class.slide-in]="!animationStatus"
        [class.slide-out-mobile]="animationStatus" [class.slide-in-mobile]="!animationStatus">
        <div class="add-contact-inner">
            <div class="title-cont">
                <div class="logo">
                    <img src="assets/img/logo.png">
                </div>
                <div class="text">
                    <h1>Add contact</h1>
                    <div class="subtext">
                        Tasks are better with a team!
                        <div class="underline"></div>
                    </div>
                </div>
                <img src="assets/img/profile-picture-add-contact.png" class="add-contact-picture">
            </div>

            <div class="content-cont">
                <form class="form-cont" [formGroup]="createContactForm" (submit)="createContact()">
                        <div class="input-field">
                            <div class="field">
                                <input name="name" type="text" placeholder="First and last name *" 
                                formControlName="name" [(ngModel)]="inputName">
                            </div>
                            <div class="icon">
                                <img src="/assets/img/icons/input-name.png">
                            </div>
                        </div>
                        <div class="input-field">
                            <div class="field">
                                <input name="email" type="email" placeholder="Email *" 
                                formControlName="email" [(ngModel)]="inputEmail">
                            </div>
                            <div class="icon">
                                <img src="/assets/img/icons/input-email.png">
                            </div>
                        </div>

                    <!-- <ng-container
                        *ngIf="createContactForm.controls['name'].dirty || createContactForm.controls['name'].touched">
                        <p class="error" *ngIf="createContactForm.controls['name'].errors?.['required']">First Name is
                            required</p>
                        <p class="error" *ngIf="createContactForm.controls['name'].errors?.['invalidName']">Please enter
                            a first and Last name with at least 2 characters each</p>

                    </ng-container> -->
                        <div class="input-field">
                            <div class="field">
                                <input name="phone" type="tel" placeholder="Phone *" 
                                formControlName="phone" [(ngModel)]="inputPhone">
                            </div>
                            <div class="icon">
                                <img src="/assets/img/icons/input-phone.png">
                            </div>
                        </div>

                    <div class="button-cont">
                        <button class="secondary-btn" (click)="control.addContactDialogOpen = false">
                            Cancel<span>x</span>
                        </button>
                        <button type="submit"
                            [disabled]="!((createContactForm.valid) && (createContactForm.dirty || createContactForm.touched))"
                            type="submit" class="primary-btn">
                            Create Contact
                            <img src="assets/img/icons/checked-icon.png">
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <img src="assets/img/icons/close-icon.png" class="close-dialog" (click)="closeDialog()">
        <img src="assets/img/icons/close-icon-mobile.png" class="close-dialog-mobile" (click)="closeDialog()">
    </div>
</div>