<div class="add-contact fade-in" [class.slide-out]="test2" [class.fade-out]="test2" (click)="test()">
    <div class="add-contact-cont slide-in" (click)="dontCloseByClick($event)" [class.slide-out]="test2">
        <div class="add-contact-inner">
            <div class="title-cont">
                <div class="logo">
                    <img src="assets/img/logo.png">
                </div>
                <div class="text">
                    <h1>Add contact</h1>
                    <div class="subtext">
                        Tasks are better with a team!
                        <div class="underline"></div>
                    </div>
                </div>
                <img src="assets/img/profile-picture-add-contact.png" class="add-contact-picture">
            </div>

            <div class="content-cont">
                <form class="form-cont" [formGroup]="createContactForm" (submit)="createContact()">
                    <input formControlName="name" type="text" class="input-name" placeholder="First and last name *"
                        [(ngModel)]="inputName" (blur)="checkErrors('name')">
                    <input formControlName="email" type="email" class="input-email" placeholder="Email *"
                        [(ngModel)]="inputEmail" (blur)="checkErrors('email')">
                    <!-- <ng-container
                        *ngIf="createContactForm.controls['name'].dirty || createContactForm.controls['name'].touched">
                        <p class="error" *ngIf="createContactForm.controls['name'].errors?.['required']">First Name is
                            required</p>
                        <p class="error" *ngIf="createContactForm.controls['name'].errors?.['invalidName']">Please enter
                            a first and Last name with at least 2 characters each</p>

                    </ng-container> -->
                    <input formControlName="phone" type="tel" class="input-phone" placeholder="Phone"
                        [(ngModel)]="inputPhone" (blur)="checkErrors('phone')">

                    <div class="button-cont">
                        <button class="secondary-btn" (click)="control.addContactDialogOpen = false">
                            Cancel
                            <img src="assets/img/icons/cancel-icon.png">
                        </button>
                        <button type="submit"
                            [disabled]="!((createContactForm.valid) && (createContactForm.dirty || createContactForm.touched))"
                            type="submit" class="primary-btn">
                            Create Contact
                            <img src="assets/img/icons/checked-icon.png">
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <img src="assets/img/icons/close-icon.png" class="close-dialog" (click)="test()">
        <img src="assets/img/icons/close-icon-mobile.png" class="close-dialog-mobile"
        (click)="test()">
    </div>
</div>