<div class="overlay">
    <div class="delete-task" (click)="control.dontCloseByClick($event)">
        <span class="text">Delete this task?</span>
        <div class="btn-cont">
            <button class="secondary-btn" (click)="control.showDeleteTaskDialog = false">
                No
                <span>x</span>
            </button>
            <button class="primary-btn" (click)="task.deleteTask()">
                Yes
                <img src="assets/img/icons/checked-icon.png">
            </button>
        </div>
    </div>
</div>