.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 48px;
    height: 100%;
    width: 100%;
}

.greetings {
    font-size: 47px;
    font-weight: 500;
    color: #2A3647;
}

.greetings-name {
    font-size: 64px;
    font-weight: 700;
    color: #29ABE2;
}

