a {
    width: 100%;
}

a,
a:visited,
a:hover {
    color: #fff;
    text-decoration: none;


}

a:active>li,
a:focus>li {
    background-color: #091931;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 66px;

    img {
        width: 100px;
        height: 122px;

    }
}

.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    font-size: 16px;
    color: #FFFFFF;
}

.main-nav,
.sub-nav {
    width: 100%;

    ul {
        width: 100%;
    }

    li {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 16px;
        list-style-type: none;
        width: 100%;
        padding: 8px 0px 8px 48px;
        cursor: pointer;



        img {
            height: 22px;
            width: 22px;
            margin-right: 16px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.main-nav {
    display: flex;
    justify-content: center;
    margin-top: 66px;
}

.sub-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 66px;
}

@media (max-width: 920px) {
    .logo {
        display: none;
    }

    .nav-container {
        display: row;
        height: unset;
        width: 100%;
    }

    .sub-nav {
        display: none;
    }

    .main-nav {
        width: 100%;
        margin-top: 0px;
    }

    li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100% !important;
        margin-bottom: 0 !important;
        padding: 16px 0px 16px 0px !important;
        height: 100%;

        img {
            margin-bottom: 8px;
            margin-right: 0 !important;
        }
    }

    ul {
        display: flex;
        gap: 16px;
        padding: 0 16px;
    }

    a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 25%;
    }
}