<div class="logo">
    <img src="assets/img/logo.png">
</div>
<div class="nav-container">
    <div class="main-nav">
        <ul>
            <a routerLink="summary" (click)="control.setActive('summary')" [class.active]="control.isSummaryActive">
                <li><img src="assets/img/icons/summary-icon.png">Summary</li>
            </a>
            <a routerLink="board" (click)="control.setActive('board')" [class.active]="control.isBoardActive">
                <li><img src="assets/img/icons/board-icon.png">Board</li>
            </a>
            <a routerLink="add-task" (click)="control.setActive('addTask')" [class.active]="control.isAddTaskActive">
                <li><img src="assets/img/icons/add-task-icon.png">Add Task</li>
            </a>
            <a routerLink="contact-list" (click)="control.setActive('contacts')"
                [class.active]="control.isContactsActive">
                <li><img src="assets/img/icons/contacts-icon.png">Contacts</li>
            </a>
        </ul>
    </div>
    <div class="sub-nav">
        <ul>
            <a routerLink="imprint" (click)="control.setActive('imprint')" [class.active]="control.isImprintActive">
                <li><img src="assets/img/icons/legal-notice-icon.png">Imprint</li>
            </a>
            <a routerLink="privacy" (click)="control.setActive('privacy')" [class.active]="control.isPrivacyActive">
                <li><img src="assets/img/icons/legal-notice-icon.png">Privacy</li>
            </a>
        </ul>
    </div>
</div>