<div class="logo">
    <img src="../../../assets/img/logo.png">
</div>

<div class="nav-container">
    <div class="main-nav">
        <ul>
            <a href="#"><li><img src="../../../assets/img/icons/summary-icon.png">Summary</li></a>
            <a href="#"><li><img src="../../../assets/img/icons/board-icon.png">Board</li></a>
            <a href="#"><li><img src="../../../assets/img/icons/add-task-icon.png">Add Task</li></a>
            <a href="#"><li><img src="../../../assets/img/icons/contacts-icon.png">Contacts</li></a>
        </ul>
    </div>

    <div class="sub-nav">
        <ul>
            <li><img src="../../../assets/img/icons/legal-notice-icon.png">Impresssum</li>
            <li><img src="../../../assets/img/icons/legal-notice-icon.png">Datenschutz</li>
        </ul>
    </div>
</div>