.site {
    display: flex;
    flex-direction: row;
    // min-height: 100vh;
    // height: 100vh;
    width: 100vw;
    max-width: 100%;
    // max-height: 100%;
    overflow-y: auto;
    min-height: 99%;
}

app-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    max-height: 100%;
    width: 232px;
    background-color: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

app-main {
    position: relative;
    flex: 1; 
}



@media (max-width: 920px) {
    .site {
        flex-direction: column-reverse;
    }

    app-sidebar {
        top: unset;
        bottom: 0;
        height: unset;
        flex-direction: row;
        width: 100%;
        min-height: unset;
        height: 80px;
    }
}
