app-header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    height: 90px;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    font-size: 21px;
    font-weight: 400;

}


.content-wrapper {
    margin-top: 90px;
    padding-left: 116px;
    padding-right: 116px;
}

@media (max-width: 1050px) {
    .content-wrapper {
        padding-left: 48px;
        padding-right: 48px;
    }
}

@media (max-width: 920px) {
    app-header {
        width: 100%;
    }

   
}