.content-inner {
    height: calc(100% - 92px);
    padding-bottom: 48px;

}

.content-body {
    gap: 32px;
    height: 100%;
}

.control-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.left {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    margin-right: 32px;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-search {
    width: 250px;
}

.add-btn {
    width: 137px;
    height: 50px;
    padding: 18px 10px 18px 10px
}

.add-btn-mobile {
    display: none;
    cursor: pointer;
    height: 40px;
    width: 40px;
}

.status {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.status-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 21px;
    font-weight: 700;
    padding: 0 16px;

    img {
        height: 30px;
        width: 30px;
    }
}

.status-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    // gap: 32px;
}

.cdk-drop-list {
    margin-top: 32px;
    gap: 32px;
    height: 100%;
    width: 100%;
}

.task {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    padding: 16px 24px;
    gap: 16px;
}


.category-inner {
    justify-content: center;
    align-items: flex-start;
    background-color: #FF7A00;
    min-width: 103px;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    padding: 4px 16px;
}

.title {
    font-weight: 700;
    color: #2A3647;
}

.progress-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.bar {
    height: 8px;
    background-color: #F4F4F4;
    flex: 1;
}

.progress {
    margin-left: 16px;
    font-size: 12px;
}

.bottom-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.assigned {
    position: relative;
    display: flex;
    height: 35px;
}

.contact {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    color: #fff;
    font-size: 12px;
    border-radius: 100%;
}


.prio {
    img {
        width: 17px;
        height: auto;
    }
}




@media (max-width: 1000px) {
    .input-search {
        width: 215px;
    }
}

@media (max-width: 920px) {
    .control-cont {
        align-items: flex-start;
    }

    .left {
        flex-direction: column;
        align-items: flex-start;
        margin-right: 0;
    }

    .right {
        align-items: flex-start;
    }

    .input-search {
        width: 250px;
        margin-top: 32px;
    }
}

@media (max-width: 500px) {
    .add-btn-mobile {
        display: block;
    }

    .add-btn {
        display: none;
    }
}

@media (max-width: 350px) {
    .input-search {
        width: 210px;
    }
}