
<div class="content">
    <div class="content-inner">
        <div class="content-header">
            <div class="content-header-mobile">Kanban Project Management Tool</div>
            <div class="control-cont">
                <div class="left">
                    <h1 class="title">Board</h1>
                    <div class="input-field input-search">
                        <div class="field">
                            <input name="email" type="text" placeholder="Find Task">
                        </div>
                        <div class="icon">
                            <img src="/assets/img/icons/input-search.png">
                        </div>
                    </div>
                </div>
                <div class="right">
                    <button class="primary-btn add-btn">Add task +</button>
                    <img class="add-btn-mobile" src="assets/img/icons/add-icon.png">
                </div>
            </div>


            
        </div>
    
        <div class="content-body">
            <div class="status">
                <div class="status-header">
                    <span>To do</span>
                    <img src="assets/img/icons/board-add-task-icon.png">
                </div>
                <div class="status-content" id="todo">
                    <div class="task">
                        Test
                    </div>
                </div>
            </div>
            <div class="status">
                <div class="status-header">
                    <span>In progress</span>
                    <img src="assets/img/icons/board-add-task-icon.png">
                </div>
                <div class="status-content" id="inProgress">
                    <div class="task">
                        Test
                    </div>
                </div>
            </div>

            <div class="status">
                <div class="status-header">
                    <span>Awaiting Feedback</span>
                    <img src="assets/img/icons/board-add-task-icon.png">
                </div>
                <div class="status-content" id="awaitingFeedback">
                    <div class="task">
                        Test
                    </div>
                </div>
            </div>

            <div class="status">
                <div class="status-header">
                    <span>Done</span>
                    <img src="assets/img/icons/board-add-task-icon.png">
                </div>
                <div class="status-content" id="done">
                    <div class="task">
                        Test
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<!-- <div class="content-header">
    <div class="content-header-mobile">Kanban Project Management Tool</div>
    <div class="board-menu">
        <h1 class="title">Board</h1>
        <div>
            <input class="input-search">
            <button class="primary-btn">Add task +</button>
            <button class="primary-btn primary-btn-mobile">+</button>
        </div>
    </div>
</div>
<div class="content">
   <input class="input-search-mobile input-search">
</div> -->