<div class="content">
    <div class="content-inner">
        <div class="content-header">
            <div class="content-header-mobile">Kanban Project Management Tool</div>
            <div class="control-cont">
                <div class="left">
                    <h1 class="title">Board</h1>
                    <div class="input-field input-search">
                        <div class="field">
                            <input name="email" type="text" placeholder="Find Task">
                        </div>
                        <div class="icon">
                            <img src="/assets/img/icons/input-search.png">
                        </div>
                    </div>
                </div>
                <div class="right">
                    <button class="primary-btn add-btn">Add task +</button>
                    <img class="add-btn-mobile" src="assets/img/icons/add-icon.png">
                </div>
            </div>
        </div>

        <div class="content-body">
            <div class="status">
                <div class="status-header">
                    <span>To do</span>
                    <img src="assets/img/icons/board-add-task-icon.png">
                </div>
                <div class="status-content" cdkDropList 
                #todos="cdkDropList"  
                [cdkDropListData]="todoTasks"
                [cdkDropListConnectedTo]="[inProgress, awaitingFeedback, done]"
                (cdkDropListDropped)="drop($event)">
                    <div class="task" *ngFor="let item of todoTasks" cdkDrag>
                        <div class="category" [style.backgroundColor]="item.category.color">
                            {{item.category.name}}
                        </div>
                        <span class="title">{{item.title}}</span>
                        <div class="desciption">
                            {{item.description}}
                        </div>
                        <div *ngIf="item.subTasks.length" class="progress-cont">
                            <div class="bar">
                            </div>

                            <div class="progress">
                                <span>{{getDoneSubtasksNumber(item.subTasks)}} / {{item.subTasks.length}}</span>
                            </div>
                        </div>
                        <div class="bottom-cont">
                            <div class="assigned">
                                <div *ngFor="let contact of item.assignedTo let i = index" class="contact" [style]="getContactIntialsStyles(contact.color, i)">
                                    {{contact.initials}}
                                </div>
                            </div>                  
                            <div class="prio">
                                <img src="assets/img/icons/add-task-low.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="status">
                <div class="status-header">
                    <span>In progress</span>
                    <img src="assets/img/icons/board-add-task-icon.png">
                </div>
                <div class="status-content" cdkDropList
                #inProgress="cdkDropList"  
                [cdkDropListData]="inProgressTasks"
                [cdkDropListConnectedTo]="[todos, awaitingFeedback, done]"
                (cdkDropListDropped)="drop($event)">
                <div class="task" *ngFor="let item of inProgressTasks" cdkDrag>
                    <div class="category" [style.backgroundColor]="item.category.color">
                        {{item.category.name}}
                    </div>
                    <span class="title">{{item.title}}</span>
                    <div class="desciption">
                        {{item.description}}
                    </div>
                    <div *ngIf="item.subTasks.length" class="progress-cont">
                        <div class="bar">
                        </div>

                        <div class="progress">
                            <span>{{getDoneSubtasksNumber(item.subTasks)}} / {{item.subTasks.length}}</span>
                        </div>
                    </div>
                    <div class="bottom-cont">
                        <div class="assigned">
                            <div *ngFor="let contact of item.assignedTo let i = index" class="contact" [style]="getContactIntialsStyles(contact.color, i)">
                                {{contact.initials}}
                            </div>
                        </div>                  
                        <div class="prio">
                            <img src="assets/img/icons/add-task-low.png">
                        </div>
                    </div>
                </div>
                </div>
            </div>

            <div class="status">
                <div class="status-header">
                    <span>Awaiting Feedback</span>
                    <img src="assets/img/icons/board-add-task-icon.png">
                </div>
                <div class="status-content" cdkDropList
                #awaitingFeedback="cdkDropList"  
                [cdkDropListData]="awaitingFeedbackTasks"
                [cdkDropListConnectedTo]="[todos, inProgress, done]"
                (cdkDropListDropped)="drop($event)">
                <div class="task" *ngFor="let item of awaitingFeedbackTasks" cdkDrag>
                    <div class="category" [style.backgroundColor]="item.category.color">
                        {{item.category.name}}
                    </div>
                    <span class="title">{{item.title}}</span>
                    <div class="desciption">
                        {{item.description}}
                    </div>
                    <div *ngIf="item.subTasks.length" class="progress-cont">
                        <div class="bar">
                        </div>

                        <div class="progress">
                            <span>{{getDoneSubtasksNumber(item.subTasks)}} / {{item.subTasks.length}}</span>
                        </div>
                    </div>
                    <div class="bottom-cont">
                        <div class="assigned">
                            <div *ngFor="let contact of item.assignedTo let i = index" class="contact" [style]="getContactIntialsStyles(contact.color, i)">
                                {{contact.initials}}
                            </div>
                        </div>                  
                        <div class="prio">
                            <img src="assets/img/icons/add-task-low.png">
                        </div>
                    </div>
                </div>
                </div>
            </div>

            <div class="status">
                <div class="status-header">
                    <span>Done</span>
                    <img src="assets/img/icons/board-add-task-icon.png">
                </div>
                <div class="status-content" cdkDropList 
                #done="cdkDropList"  
                [cdkDropListData]="doneTasks"
                [cdkDropListConnectedTo]="[todos, awaitingFeedback, inProgress]"
                (cdkDropListDropped)="drop($event)">
                <div class="task" *ngFor="let item of doneTasks" cdkDrag>
                    <div class="category" [style.backgroundColor]="item.category.color">
                        {{item.category.name}}
                    </div>
                    <span class="title">{{item.title}}</span>
                    <div class="desciption">
                        {{item.description}}
                    </div>
                    <div *ngIf="item.subTasks.length" class="progress-cont">
                        <div class="bar">
                        </div>

                        <div class="progress">
                            <span>{{getDoneSubtasksNumber(item.subTasks)}} / {{item.subTasks.length}}</span>
                        </div>
                    </div>
                    <div class="bottom-cont">
                        <div class="assigned">
                            <div *ngFor="let contact of item.assignedTo let i = index" class="contact" [style]="getContactIntialsStyles(contact.color, i)">
                                {{contact.initials}}
                            </div>
                        </div>                  
                        <div class="prio">
                            <img src="assets/img/icons/add-task-low.png">
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>






<!-- <div class="content-header">
    <div class="content-header-mobile">Kanban Project Management Tool</div>
    <div class="board-menu">
        <h1 class="title">Board</h1>
        <div>
            <input class="input-search">
            <button class="primary-btn">Add task +</button>
            <button class="primary-btn primary-btn-mobile">+</button>
        </div>
    </div>
</div>
<div class="content">
   <input class="input-search-mobile input-search">
</div> -->